*

!.gitignore
!*.h
!*.hpp
!*.c
!*.cpp
!*.sh
!*.pas
!*.py

!*.tex
!*.pdf
!*.txt

!Doxyfile
!*.dox

!*.md

!*.jpg
!*.jpeg
!*.png
!*.svg
!*.dot

!*/
!/libs

**/CMakeFiles
**/build
**/docs
