*

!.gitignore
!*.h
!*.hpp
!*.c
!*.cpp
!*.tpp
!*.sh
!*.pas
!*.py

!*.tex
!*.pdf
!*.txt

!Doxyfile
!*.dox
!*.html
!*.css
!*.js

!*.md

!*.jpg
!*.jpeg
!*.png
!*.svg
!*.dot
!*.xhtml

!*.yaml

!*/
!/libs

**/CMakeFiles
**/build
